<% if @comment.save %>
    <%= turbo_stream.update dom_id(@comment, "body") do %>
        <%= @comment.body %>
    <% end %>

    <%= turbo_stream.update dom_id(@comment, "edit") do %>
        <%= button_to "Edit", edit_comment_path(@comment.id), params: { commentable_type: @comment.commentable.model_name.human, commentable_id: @comment.commentable.id, root_id: @comment.root.id }, method: :get %>
    <% end %>
    
    <%= turbo_stream.update dom_id(@comment, "errors_comment") %>
<% else %>
    <%= turbo_stream.update dom_id(@comment, "errors_comment") do %>
        <% @comment.errors.messages.values.each do | error | %>
            <% error.each do  | error | %>
                <div><%= error %></div>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<!-- display flash messages -->
<%= turbo_stream.update "flash" do %>
    <%= render "shared/flash_messages" %>
<% end %>