<%= turbo_stream.update "index-user-#{@user.id}" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "featured-user-#{@user.id}" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "suggested-user-#{@user.id}" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "user-posts" do %>
    <div>You blocked this monke. Unblock them to see their activity.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "visitor-actions" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "user-followings-#{@user.id}" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<!-- update followings counts -->
<%= turbo_stream.update "followers-count-index-#{@user.id}" do %>
    <% if @user.followers.count == 0 %>
        Followers: <%= @user.followers.count %>
    <% else %>
        Followers: <%= link_to "#{@user.followers.count}", user_followings_path(@user, type: "Followers") %>
    <% end %>
<% end %>

<%= turbo_stream.update "followers-count-featured-#{@user.id}" do %>
    <% if @user.followers.count == 0 %>
        Followers: <%= @user.followers.count %>
    <% else %>
        Followers: <%= link_to "#{@user.followers.count}", user_followings_path(@user, type: "Followers") %>
    <% end %>
<% end %>

<%= turbo_stream.update "followers-count-suggested-#{@user.id}" do %>
    <% if @user.followers.count == 0 %>
        Followers: <%= @user.followers.count %>
    <% else %>
        Followers: <%= link_to "#{@user.followers.count}", user_followings_path(@user, type: "Followers") %>
    <% end %>
<% end %>

<%= turbo_stream.update "followers-count-profile-#{@user.id}" do %>
    <% if @user.followers.count == 0 %>
        Followers: <%= @user.followers.count %>
    <% else %>
        Followers: <%= link_to "#{@user.followers.count}", user_followings_path(@user, type: "Followers") %>
    <% end %>
<% end %>

<%= turbo_stream.update "followers-count-followings-#{@user.id}" do %>
    <% if @user.followers.count == 0 %>
        Followers: <%= @user.followers.count %>
    <% else %>
        Followers: <%= link_to "#{@user.followers.count}", user_followings_path(@user, type: "Followers") %>
    <% end %>
<% end %>

<%= turbo_stream.update "followers-count-likers-#{@user.id}" do %>
    <% if @user.followers.count == 0 %>
        Followers: <%= @user.followers.count %>
    <% else %>
        Followers: <%= link_to "#{@user.followers.count}", user_followings_path(@user, type: "Followers") %>
    <% end %>
<% end %>

<!-- display flash messages -->
<%= turbo_stream.update "flash" do %>
    <%= render "shared/flash_messages" %>
<% end %>