<%= turbo_stream.update "index-user-#{@user.id}" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "featured-user-#{@user.id}" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "suggested-friend-#{@user.id}" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "user-posts" do %>
    <div>You blocked this monke. Unblock them to see their activity.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>

<%= turbo_stream.update "visitor-actions" do %>
    <div>You blocked this monke. Unblock them to interact with them.</div>
    <%= render "shared/block_buttons", user: @user %>
<% end %>