<%= turbo_stream.update "index-user-#{@user.id}" do %>
    <div id="index-user-friendship-<%= @user.id %>">
        <%= render "shared/friend_buttons", user: @user %>
    </div>
    <div id="index-user-follow-<%= @user.id %>">
        <%= render "shared/follow_buttons", user: @user %>
    </div>
    <div id="index-user-block-<%= @user.id %>">
        <%= render "shared/block_buttons", user: @user %>
    </div>
<% end %>

<%= turbo_stream.update "featured-user-#{@user.id}" do %>
    <div id="featured-user-friendship-<%= @user.id %>">
        <%= render "shared/friend_buttons", user: @user %>
    </div>
    <div id="featured-user-follow-<%= @user.id %>">
        <%= render "shared/follow_buttons", user: @user %>
    </div>
    <div id="featured-user-block-<%= @user.id %>">
        <%= render "shared/block_buttons", user: @user %>
    </div>
<% end %>

<%= turbo_stream.update "suggested-user-#{@user.id}" do %>
    <div id="suggested-user-friendship-<%= @user.id %>">
        <%= render "shared/friend_buttons", user: @user %>
    </div>
    <div id="suggested-user-follow-<%= @user.id %>">
        <%= render "shared/follow_buttons", user: @user %>
    </div>
    <div id="suggested-user-block-<%= @user.id %>">
        <%= render "shared/block_buttons", user: @user %>
    </div>
<% end %>

<%= turbo_stream.update "user-posts" do %>
    <% if @user.posts.empty? %>
        <div class="message">This monke has not posted yet.</div>
    <% else %>
        <% @user.posts.order(created_at: :desc).each do | post | %>
            <%= render "posts/post_from_panel", post: post %>
        <% end %>
    <% end %>
<% end %>

<%= turbo_stream.update "visitor-actions" do %>
    <div class="actions">
        <div id="user-page-friendship-<%= @user.id %>">
            <%= render "shared/friend_buttons", user: @user %>
        </div>
        <div id="user-page-follow-<%= @user.id %>">
            <%= render "shared/follow_buttons", user: @user %>
        </div>
        <div id="user-page-block-<%= @user.id %>">
            <%= render "shared/block_buttons", user: @user %>
        </div>
    </div>
<% end %>

<%= turbo_stream.update "user-followings-#{@user.id}" do %>
    <div id="featured-user-friendship-<%= @user.id %>">
        <%= render "shared/friend_buttons", user: @user %>
    </div>
    <div id="featured-user-follow-<%= @user.id %>">
        <%= render "shared/follow_buttons", user: @user %>
    </div>
    <div id="featured-user-block-<%= @user.id %>">
        <%= render "shared/block_buttons", user: @user %>
    </div>
<% end %>

<!-- display flash messages -->
<%= turbo_stream.update "flash" do %>
    <%= render "shared/flash_messages" %>
<% end %>