<%= turbo_stream.replace "notification-#{@notification.id}" do %>
    <div id="notification-<%= @notification.id %>" class="read">
        <% message = compose_notification_message(@notification) %>
        <div><%= message[0] + message[1] + message[2] %></div>
    </div>
<% end %>

<%= turbo_stream.update "notifications-count" do %>
    <div id="notifications-count"><%= current_user.notifications.where(read: false).count %></div>
<% end %>