<div class="identity">
    <div>
        <%= cl_image_tag(user.profile.avatar.key, radius: :max, height: 50, width: 50, crop: :scale, border: "2px_solid_brown") %>
    </div>
    <div>
        <%= link_to "#{user.name}", user_path(user.id) %>
    </div>
</div>
<div class="followings">
    <div id="follows-count-<%= section %>-<%= user.id %>">
        <% if user.follows.count == 0 %>
            Follows: <%= user.follows.count %>
        <% else %>
            Follows: <%= link_to "#{user.follows.count}", user_followings_path(user, type: "Follows") %>
        <% end %>
    </div>
    <div id="followers-count-<%= section %>-<%= user.id %>">
        <% if user.followers.count == 0 %>
            Followers: <%= user.followers.count %>
        <% else %>
            Followers: <%= link_to "#{user.followers.count}", user_followings_path(user, type: "Followers") %>
        <% end %>
    </div>
</div>