<div class="users-index-box">
    <div class="all-users">
        <% @users.each do | user | %>
            <% unless same_user?(user) %>
                <div id="single-user-all-<%= user.id %>">
                    <%= render partial: "user_card_generalities", locals: { user: user, section: "index" } %>
                    <div id="index-user-<%= user.id %>">
                        <% if blocked?(user) %>
                            <div>You blocked this user. Unblock him to see his activity.</div>
                            <%= render "shared/block_buttons", user: user %>
                        <% elsif blocked_by?(user) %>
                            <div>This user blocked you.</div>
                        <% else %>
                            <div id="index-user-friendship-<%= user.id %>">
                                <%= render "shared/friend_buttons", user: user %>
                            </div>
                            <div id="index-user-follow-<%= user.id %>">
                                <%= render "shared/follow_buttons", user: user %>
                            </div>
                            <div id="index-user-block-<%= user.id %>">
                                <%= render "shared/block_buttons", user: user %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="featured-users">
        <div class="title">Featured monkes</div>
        <div class="users-block">
            <% @recommended_follows.each do | user | %>
                <% unless same_user?(user) %>
                    <div id="single-user-featured-<%= user.id %>">
                        <%= render partial: "user_card_generalities", locals: { user: user, section: "featured" } %>
                        <div id="featured-user-<%= user.id %>">
                            <% if blocked?(user) %>
                                <div>You blocked this user. Unblock him to see his activity.</div>
                                <%= render "shared/block_buttons", user: user %>
                            <% elsif blocked_by?(user) %>
                                <div>This user blocked you.</div>
                            <% else %>
                                <div id="featured-user-friendship-<%= user.id %>">
                                    <%= render "shared/friend_buttons", user: user %>
                                </div>
                                <div id="featured-user-follow-<%= user.id %>">
                                    <%= render "shared/follow_buttons", user: user %>
                                </div>
                                <div id="featured-user-block-<%= user.id %>">
                                    <%= render "shared/block_buttons", user: user %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="suggested-users">
        <div class="title">You might know...</div>
        <div class="users-block">
            <% @recommended_friends.each do | user | %>
                <% unless same_user?(user) %>
                    <div id="single-user-recommended-<%= user.id %>">
                        <%= render partial: "user_card_generalities", locals: { user: user, section: "suggested" } %>
                        <div id="suggested-friend-<%= user.id %>">
                            <% if blocked?(user) %>
                                <div>You blocked this user. Unblock him to see his activity.</div>
                                <%= render "shared/block_buttons", user: user %>
                            <% elsif blocked_by?(user) %>
                                <div>This user blocked you.</div>
                            <% else %>
                                <div id="suggested-friend-friendship-<%= user.id %>">
                                    <%= render "shared/friend_buttons", user: user %>
                                </div>
                                <div id="suggested-friend-follow-<%= user.id %>">
                                    <%= render "shared/follow_buttons", user: user %>
                                </div>
                                <div id="suggested-friend-block-<%= user.id %>">
                                    <%= render "shared/block_buttons", user: user %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

</div>