<div class="user-show-box">    
    <div class="profile-grid">
        <div class="personal-info">
            <div class="name">
                <%= @user.first_name + " " + @user.last_name %>
            </div>
            <div class="avatar">
                <% if @user.profile.avatar.attached? %>
                    <%= cl_image_tag(@user.profile.avatar.key, radius: :max, height: 200, width: 200, crop: :scale, border: "2px_solid_brown") %>
                <% else %>
                    <%= cl_image_tag("default_avatar.png", folder: "projects/facebook", radius: :max, height: 200, width: 200, crop: :scale, border: "2px_solid_brown") %>
                <% end %>
            </div>
            <div class="bio">
                <div class="subtitle">About me</div>
                <div><%= @user.profile.bio %></div>
            </div>
            <% if same_user?(@user) %>
                <div class="edit-profile">
                    <%= link_to "Edit profile", edit_user_profile_path(@user, @user.profile.id)%>
                </div>
            <% elsif blocked?(@user) %>
                <div>You blocked this user. Unblock him to see his activity.</div>
                <%= render "shared/block_buttons", user: @user %>
            <% elsif blocked_by?(@user) %>
                <div>This user blocked you.</div>
            <% else %>
                <div class="actions">
                    <%= render "shared/friend_buttons", user: @user %>
                    <%= render "shared/follow_buttons", user: @user %>
                    <%= render "shared/block_buttons", user: @user %>
                </div>
            <% end %>
        </div>

        <div class="user-posts">
            <% if blocked?(@user)%>
                <div>You blocked this user. Unblock him to see his activity.</div>
                <%= render "shared/block_buttons", user: @user %>
            <% elsif blocked_by?(@user) %>
                <div>This user blocked you.</div>
            <% else %>
                <% @user.posts.order(created_at: :desc).each do | post | %>
                    <%= render "posts/post_from_panel", post: post %>
                <% end %>
            <% end %>
        </div>     
    </div>
</div>