<div class="user-show-box">    
    <div class="profile-grid">
        <div class="personal-info">
            <div class="name">
                <%= @user.first_name + " " + @user.last_name %>
            </div>
            <div class="avatar">
                <% if @user.profile.avatar.attached? %>
                    <%= cl_image_tag(@user.profile.avatar.key, radius: :max, height: 200, width: 200, crop: :scale, border: "2px_solid_brown") %>
                <% else %>
                    <%= cl_image_tag("default_avatar_1.png", folder: "projects/facebook", radius: :max, height: 200, width: 200, crop: :scale, border: "2px_solid_brown") %>
                <% end %>
            </div>
            <div class="bio">
                <div class="subtitle">About me</div>
                <div><%= @user.profile.bio %></div>
            </div>
            <div class="followings">
                <div id="follows-count-profile-<%= @user.id %>">
                    <% if @user.follows.count == 0 %>
                        Follows: <%= @user.follows.count %>
                    <% else %>
                        Follows: <%= link_to "#{@user.follows.count}", user_followings_path(@user, type: "Follows") %>
                    <% end %>
                </div>
                <div id="followers-count-profile-<%= @user.id %>">
                    <% if @user.followers.count == 0 %>
                        Followers: <%= @user.followers.count %>
                    <% else %>
                        Followers: <%= link_to "#{@user.followers.count}", user_followings_path(@user, type: "Followers") %>
                    <% end %>
                </div>
            </div>
            <% if same_user?(@user) %>
                <div class="edit-profile">
                    <%= link_to "Edit profile", edit_user_profile_path(@user, @user.profile.id)%>
                </div>
            <% end %>
            <% if !same_user?(@user) %>
                <div id="visitor-actions">
                    <% if blocked?(@user) %>
                        <div>You blocked this user. Unblock him to see his activity.</div>
                        <%= render "shared/block_buttons", user: @user %>
                    <% elsif blocked_by?(@user) %>
                        <div>This user blocked you.</div>
                    <% else %>
                        <div class="actions">
                            <div id="user-page-friendship-<%= @user.id %>">
                                <%= render "shared/friend_buttons", user: @user %>
                            </div>
                            <div id="user-page-follow-<%= @user.id %>">
                                <%= render "shared/follow_buttons", user: @user %>
                            </div>
                            <div id="user-page-block-<%= @user.id %>">
                                <%= render "shared/block_buttons", user: @user %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div id="user-posts">
            <% if blocked?(@user)%>
                <div>You blocked this user. Unblock him to see his activity.</div>
                <%= render "shared/block_buttons", user: @user %>
            <% elsif blocked_by?(@user) %>
                <div>This user blocked you.</div>
            <% elsif @user.posts.empty? %>
                <div>This monke has not posted yet.</div>
            <% else %>
                <% @user.posts.order(created_at: :desc).each do | post | %>
                    <%= render "posts/post_from_panel", post: post %>
                <% end %>
            <% end %>
        </div>     
    </div>
</div>