<%= comment.author.name + ":" %>
    
<%= turbo_frame_tag dom_id(comment, "body") do %>
    <%= comment.body %>
<% end %>

<div>
    <%= turbo_frame_tag dom_id(comment, "likes_count") do %>
        <%= "Likes: " + comment.likes.count.to_s %>
    <% end %>
</div>

<div class="commenter-actions">
    <% unless !same_user?(comment.author) %>
        <%= turbo_frame_tag dom_id(comment, "edit") do %>
            <%= button_to "Edit", edit_comment_path(comment.id), params: { commentable_type: comment.commentable.model_name.human, commentable_id: comment.commentable.id }, method: :get %>
        <% end %>
    <% end %>
    
    <% unless !same_user?(comment.author) %>
        <%= button_to "Delete", comment_path(comment.id), method: :delete, params: { comment_id: comment.id } %>
    <% end %>
</div>

<div>
    <% unless same_user?(comment.author) %>
        <%= render "shared/like_buttons", object: comment %>
    <% end %>
</div>

<div>
    <% unless same_user?(comment.author) %>
        <%= turbo_frame_tag dom_id(comment, "new") do %>
            <%= link_to "Comment", new_comment_path(commentable_type: comment.model_name.human, commentable_id: comment.id) %>
        <% end %>
    <% end %>
</div>