<%  unless same_user?(user) %>
    <div><%= user.first_name %></div>
    <% if friends?(user) %>
        <%= button_to "Remove friend", friendship_path(find_friendship(user)), method: :delete, params: { user_id: user.id } %>
    <% elsif requested?(user) %>
        <%= button_to "Accept Friend request", friendships_path, params: { user_id: user.id } %>
        <%= button_to "Refuse Friend request", friend_request_path(find_request(user).id), method: :delete, params: { user_id: user.id } %>
    <% elsif sent?(user) %>
        <%= button_to "Cancel Friend request", friend_request_path(find_request(user).id), method: :delete, params: { user_id: user.id } %>
    <% else %>
        <%= button_to "Send Friend request", friend_requests_path, params: { user_id: user.id } %>
    <% end %>
<% end %>