<% if @post.save %>
    <%= turbo_stream.replace "shown-post", partial: "post", locals: { post: @post } %>

    <%= turbo_stream.update dom_id(@post, "edit") do %>
        <% if same_user?(@post.author) %>
            <%= button_to "Edit", edit_user_post_path(current_user), method: :get, form: { data: { action: "turbo:frame-load@window->button-swapping#swap", button_swapping_target: "editForm" } }, data: { turbo_frame: "#{@post.model_name.human.downcase}_#{@post.id}", button_swapping_target: "editButton", value: "#{edit_user_post_path(current_user)}" } %>
        <% end %>
    <% end %>

    <%= turbo_stream.update dom_id(@post, "errors_post") %>
<% else %>
    <%= turbo_stream.update dom_id(@post, "errors_post") do %>
        <% @post.postable.errors.messages.values.each do | error | %>
            <% error.each do | error | %>
                <div><%= error %></div>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<!-- display flash messages -->
<%= turbo_stream.update "flash" do %>
    <%= render "shared/flash_messages" %>
<% end %>