<!DOCTYPE html>
<html>
  <head>
    <title>MonkeBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="navbar-swapping">
    <% if user_signed_in? %>
      <div class="navbar-shower" data-action="click->navbar-swapping#swap" data-navbar-swapping-target="navbarShower">
        <div>N</div>
        <div>a</div>
        <div>v</div>
        <div>b</div>
        <div>a</div>
        <div>r</div>
      </div>
    <% end %>

    <div class="header" data-navbar-swapping-target="navbar">
      <% if user_signed_in? %>
        <div>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
        </div>
        <div id="flash">
          <%= render "shared/flash_messages" %>
        </div>
        <div class="navbar-actions">
          <div class="notifications">
            <% if current_user.notifications.where(read: false).count > 9 %>
              <div id="notifications-count"><%= current_user.notifications.where(read: false).count %></div>
            <% end %>
            <div><%= button_to "Notifications", user_notifications_path(current_user), method: :get %></div>
          </div>
          <%= button_to "New post", new_user_post_path(current_user), params: { type: "Text" }, method: :get %>
          <%= button_to "New image post", new_user_post_path(current_user), params: { type: "Image" }, method: :get %>
          <%= button_to "My profile", user_path(current_user), method: :get %>
          <%= button_to "Home", root_path, method: :get %>
        </div>
      <% else %>
        <div>MonkeBook</div>

        <div id="flash">
          <%= render "shared/flash_messages" %>
        </div>

        <div></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
